body {
  background-color: rgb(233, 228, 227);
}

h1 { font-style: sans-serif;
  color: black;
  font-size: 65px;
}

#fundo_Vermelho {
  background-color: blue;
}

#exercicio {
  color: aquamarine;
}
#amarelo {
  color: orange;
}

.explicando_cores {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
